<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <servlet>
        <servlet-name>ServletDemo06</servlet-name>
        <servlet-class>ServletDemo06</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ServletDemo06</servlet-name>
        <url-pattern>/demo06</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ServletDemo07</servlet-name>
        <servlet-class>ServletDemo07</servlet-class>
        <!--配置ServletDemo07的初始化参数 -->
        <init-param>
            <param-name>name</param-name>
            <param-value>gacl</param-value>
        </init-param>
        <init-param>
            <param-name>password</param-name>
            <param-value>123</param-value>
        </init-param>
        <init-param>
            <param-name>charset</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </servlet>

    <servlet-mapping>
        <servlet-name>ServletDemo07</servlet-name>
        <url-pattern>/demo07</url-pattern>
    </servlet-mapping>

    <!-- 配置WEB应用的初始化参数 -->
    <context-param>
        <param-name>url</param-name>
        <param-value>jdbc:mysql://localhost:3306/test</param-value>
    </context-param>
</web-app>